{% extends 'base.html' %}

<body>
  {% block h1_header %} 
  <h1>Buscar Autos</h1>
  {% endblock h1_header %}
  
   {% block contenido %}
   
   <button>
    <a class="navbar-brand" href={% url 'inicio:crear_autos' %}>Crear auto</a>
  </button>
   
   <form method="get">
    {{form}}
    <button >Buscar</button>
  </form>
  {% if autos %}
  {% for auto in autos %}
  <li>
    {{auto}}
    <button>
        <a class="navbar-brand" href={%url 'inicio:mostrar_autos' auto.id%}>Ver mas</a>
    </button>
    <button>
        <a class="navbar-brand" href={%url 'inicio:modificar_autos' auto.id%}>Modificar</a>
    </button>
    <button>
        <a class="navbar-brand" href={%url 'inicio:eliminar_autos' auto.id%}>Eliminar</a>
    </button>
    
  </li>
  {% endfor %}
  {% else %}
  <p>No se encontraron resultados.</p>
  {% endif %}
  {% endblock contenido %}

</body>
</html>

