{% extends 'base.html' %}
<html>
<head>
  {% block titulo %}
    <title>Modificar autos</title>
    {% endblock titulo %}
</head>
<body>
  {% block h1_header %}
  <h1>Modificar Auto</h1>
  {% endblock h1_header %}
  
    {% block contenido %}
    <form action={% url 'inicio:modificar_autos' auto.id %} method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      <table>
      {{form}}
      {{form.media}}
    </table>
      <button>Modificar</button>
    </form>
    {% endblock contenido %}


</body>
</html>
