{% extends 'base.html' %}
<html>
<head>
  {% block titulo %}
    <title> auto</title>
    {% endblock titulo %}
</head>
<body>
  {% block h1_header %}
  <h1>{{auto.marca}}</h1>
  {% endblock h1_header %}
  
    {% block contenido %}
   
     <li>modelo: {{auto.modelo}}</li>
     <li>año : {{auto.anio}}</li>
     <li>descripcion : {{auto.descripcion |safe}}</li>
     {% if auto.imagen %}
     <li>imagen: <img src={{auto.imagen.url}} alt="imagen del auto"></li>
     {% endif %}
    {% endblock contenido %}


</body>
</html>