{% extends 'base.html' %}

        {% block titulo %}
        <title>Acerca de mi</title>
        {% endblock titulo %}
        
     {% block h1_header %}
     <h1 class="mb-5">Acerca de mi</h1>
     {% endblock h1_header %}

     {% block contenido %}
     <p>Mi nombre es Lucas Trivisonno, tengo 19 años , me anote en el curso de python para poder extender mis conocimientos sobre el mundo de la programacion.
        Ademas hice el curso de frontend el cual me facilito para el uso de django que se usa el html . Hice este proyecto de python sobre crear tu propio auto ya que me fascinan los autos. 
    Mi obvetivo profesional es formar parte de un grupo de trabajo lider y exitoso , donde pueda desarrollar todos mis conocimientos . Trabajar en una empresa donde mi desempeño profesional sea valorado y que se me brinden oportunidades para crecer y capacitacion para ayudarme a mejorar. .</p>
     {% endblock contenido %}