
{% extends 'base.html' %}

<body>
  {% block h1_header %} 
  <h1>Buscar Autos</h1>
  {% endblock h1_header %}
  
   {% block contenido %}
   
   <button>
    <a class="navbar-brand" href={% url 'crear_autos' %}>Crear auto</a>
  </button>
   
   <form method="get">
    {% csrf_token %}
    {{ formulario }}
    <button >Buscar</button>
  </form>
  
  {% if auto %}
    <h2>Resultados:</h2>
    <ul>
      {% for auto in autos %}
        <li>{{ auto }}</li>
      {% empty %}
        <li>No se encontraron autos.</li>
      {% endfor %}
    </ul>
  {% endif %}
  {% endblock contenido %}

</body>
</html>

